body {
    margin: 0;
    font-family: "Inter", serif;
    font-weight: 300;
}

/* navigation */

nav li {
    display: inline;
    margin-right: 20px;
}

nav {
    padding: 50px 0;
}

nav ul {
    padding-left: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav a:hover, 
nav a:active {
    opacity: 80%;
}

.social-media-links img {
    width: 20px;
}

.social-media-links img:hover,
.social-media-links img:active {
    opacity: 50%;
}

.social-media-links {
    margin: auto 0;
}

/* content */

.container {
    width: 700px;
    margin: 0 auto;
}

.hero-img {
    width: 200px;
    float: left;
    margin: 0 20px 20px 0;
}

a {
    transition: 0.2s;
    color: black;
}

a:hover {
    opacity: 50%;
    transition: 0.2s;
}

/* bookshelf */

.book-img {
    width: 150px;
    height: 230px;
    margin-top: 20px;
}

.book-img:hover, 
.book-img:active {
    opacity: 80%;
}

.bookshelf {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book {
    display: flex;
    flex-direction: column;
}

.book-name {
    font-weight: 500;
    margin-bottom: 0;
    max-width: 150px;
}

.book-author {
    margin-top: 0;
    font-size: 13px;
}

.project-title {
    font-weight: normal;
    margin-bottom: 20px;
}

.project-links {
    margin: none;
}

.project-links a {
    text-decoration: none;
}

.demo {
    color: red;
}

.repo {
    color: rgb(33, 98, 196);
}

.project p {
    margin-bottom: 7px;
}

.project {
    margin-bottom: 50px;
}